body{
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
}

h1,h2,h3,h4,h5,h6,p,span{
    padding: 0;
    margin: 0;
}
/*Header*/

.header-container{

    width: 100%;
    background-color: white;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper{
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    font-family: 'inter';
    font-weight: 500;
    line-height: 1.5em;
    color: #000000;
    text-decoration: none;
}

 
.btn-container .btn{
    font-family: 'inter';
    font-weight: 600;
    font-size: 16;
    line-height: 1em;
    text-decoration: none;
    color: white;
    padding: 12px 16px;
    background-color: #469165;
    border: 1px solid #469165;
    border-radius: 4px;
}

.btn-container .btn:hover{
    background-color: white;
    color: #469165;
}

/*hero-section*/

.hero-container{
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 115px 179px;
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-wrapper{
    width: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content-1{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center !important;
    width: 770px;
}

.text-1{
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    background: white;
    border-radius: 100px;
    width: auto;
    
}

.text-1 span{
    font-family: 'inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 1em;
    color: #469165;
}

.text-2 h1{
    font-family: 'inter';
    font-size: 72px;
    font-weight: 700;
    line-height: 1.1em;
    color: white;
    text-align: center;
}

.text-2 span{
    color: #30B868;
    text-align: center;
}

.text-3 p{

    font-family: 'inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;
    color: white;
    text-align: center;
    

}

.content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


.icon-btn-container .icon-btn{
    font-family: 'inter';
    font-weight: 600;
    font-size: 16;
    line-height: 1em;
    text-decoration: none;
    color: white;
    padding: 12px 16px;
    background-color: #469165;
    border: 1px solid #469165;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.icon-btn-container .icon-btn:hover{
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.icon-btn-container .btn-2{

    font-family: 'inter';
    font-weight: 600;
    font-size: 16;
    line-height: 1em;
    text-decoration: none;
    color: white;
    padding: 12px 16px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.icon-btn-container .btn-2:hover{
    transition: transform 0.3s ease;
    transform: scale(1.1);
}